/*Colors*/
/*$grey: #6D6E71;*/
/*$red: #D9272E;*/
/*$light-grey: #E6E7E8;*/
/*$med-grey: #BCBEC0;*/

 /*Reset some basic elements */

html{ box-sizing: border-box; }
*,*:before,*:after{ box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

ul{ list-style: none; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6D6E71;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 10%;
}

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #D9272E;
  text-decoration: none; }
  a:visited {
    color: #991b20; }
  a:hover {
    color: #6D6E71;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #6D6E71;
  border-left: 4px solid #d4d5d6;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**  Clearfix  */

.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**  Icons  */

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #6D6E71; }

.logobox {
  /*min-height: 100px;*/
  position: relative;
  padding: 1.5em 10%;
}
.logobox .logo-right {
  float: right;
}
.searchnav{
  background: url(../img/hex-bk_35o.png) center 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 1em 10%;
}
.searchnav .title{
  color: #D9272E;
  background-repeat: no-repeat;
  padding: 0.125em 0 0.5em 70px;
  margin-left: 10%;
  text-transform: uppercase;
  margin: 0 auto;
  /*width: 50%;*/
  width: 65%;
}
.searchnav .title.vocia{ background: url('../img/icon_vocia_h.png') no-repeat; }
#searchbox {
  position: relative;
}
#search {
  padding: 1.25em 15% 1.25em 5%;
  position: relative;
  top: 25%;
  font: italic 15px "Helvetica Neue Medium Italic", Arial, sans-serif;
  /*background: #fff url(../img/search-icon.png) 95% 50% no-repeat;*/
  background: #fff;
  width: 100%;
  border: none;
}
#submit{
  color: transparent;
  background: transparent url(../img/search-icon.png) no-repeat;
  border: none;
  z-index: 10;
  position: absolute;
  width: 44px;
  height: 42px;
  right: 8px;
  top: 8px;
}
.searchnav .social{
  margin: 0 auto;
  /*width: 45%;*/
  width: 56%;
  padding-top: 1em;
}
.searchnav .social li{
  display: inline-block;
  width: 32px;
  height: 37px;
  background-repeat: no-repeat;
  color: transparent;
}
.searchnav .social li.twitter{ background-image: url(../img/icon_social_twitter.png); }
.searchnav .social li.linkedin{ background-image: url(../img/icon_social_linkedin.png); }
.searchnav .social li.facebook{ background-image: url(../img/icon_social_facebook.png); }
.searchnav .social li.googleplus{ background-image: url(../img/icon_social_googleplus.png); }

.nav{
  background-color: #E6E7E8;
  margin: 0;
}
.nav li{
  padding: 1em 10%;
  color: #D9272E;
  background-color: #E6E7E8;
  background-image: url(../img/icon_general.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  -webkit-background-size: 2em;
  background-size: 2em;
  border-bottom: 1px solid #D9272E;
}
.nav li.an{ background-image: url(../img/icon_audia-nexia.png); -webkit-background-size: 4em; background-size: 4em; }
.nav li.te{ background-image: url(../img/icon_tesira.png); }
.nav li.vo{ background-image: url(../img/icon_vocia.png); }
.nav li.de{ background-image: url(../img/icon_devio.png); }
.nav li.vi{ background-image: url(../img/icon_voip.png); }
.nav li.vd{ background-image: url(../img/icon_videos.png); }
.nav li.line{ display: none }
/* Site footer */
.site-footer {
  padding: 20px 0;
  background: #D9272E;
  color: white;
  font-size: 14px;
  list-style: none;
  padding: 5% 10%;
  margin: 0;
}
.site-footer li{
  text-align: center;
  font-size: 16px;
}
.site-footer li.name{
  margin-bottom: 0.5em;
}
/**  Page content  */
.page-content {
  padding: 30px 0; }

.content{
  position: relative;
  width: 80%;
  left: 10%;
  padding: 20px 0;
}
.content h1{
  color: #D9272E;
  font-weight: bold;
  font-size: 16px;
}
.content p{
  color: #6D6E71;
  font-size: 16px;
}
.footer-nav{
    margin: 0;
 }
.copyright,
.feature{ display: none; }

/* --- jquery ui accordion --- */
.ui-accordion .ui-accordion-icons{
  padding-left: 10%;
}
.ui-accordion .ui-accordion-header{
  margin: 0;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  color: #D9272E;
  border-bottom: 2px solid white;
}
.ui-state-default{
  background: #E6E7E8;
  border: none;
}

.ui-accordion-header-active,
.ui-state-header-active,
.ui-state-active{
  border: none;
  background: #bcbec0;
}
.ui-corner-top{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br{
  border-bottom-right-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl{
  border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr{
  border-top-right-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl{
  border-top-left-radius: 0;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon{
  left: 10%;
  top: 100%;
  margin-top: 0;
}
.ui-state-default .ui-icon{
  background-image: none;
}
.ui-state-active .ui-icon{
  background-image: url(../img/art_pointer.png);
}
.ui-icon-triangle-1-s{
  background-position: 0 -7px;
}
.ui-icon{
  width: 34px;
  height: 27px;
}
.ui-accordion .ui-accordion-content{
  padding: 2em 10%;
}
.ui-widget-content{
  border: none;
  background: white;
}

.ui-accordion h4{
  color: #D9272E;*/
  font-size: 18px;
  margin-bottom: 0.5em;
}
.ui-accordion p{
  color: #6D6E71;
  font-size: 14px;
  font-style: italic;
  padding-bottom: 1.5em;
}
:foc user agent stylesheet us{
  outline: -webkit-focus-ring-color auto 1px;
}
.related{
  background: #BCBEC0;
  color: white;
  padding: 1em 10%;
}
.related h1{
  font-size: 16px;
  font-weight: bold;
  margin-left: 10%;
  margin-left: 0;
}
.related ul{
  margin-left: 0;
}

/* --- desktop styles --- */
@media (min-width: 830px) {

  .site-header,
  .logobox{
    padding: 3% 5%;
  }
  #searchbox{
    height: 235px;
  }
  #search{
    padding: 2em 12% 2em 3%;
    top: 33%;
  }
  .content h1,
  .content p{
    font-size: 14px;
    text-align: center;
  }
  .nav-bar{
    position: relative;
    top: -150px;
  }
  .nav-bar .content{
    padding: 0;
    width: 80%;
    /*left: 0;*/
    padding: 20px 0%;
    margin: 0 auto;
  }
  .nav{
    display: inline-block;
    font-size: 11px;
    border: none;
    position: relative;
    width: 60%;
    padding-left: 3%;
  }
  .nav.two{width: 35%;position: relative;float: right;}
  .nav li{
    display: inline-block;
    /*margin: 0 2em;*/
    /*margin: 0 8%;*/
    margin: 0 4%;
    padding: 6em 0 0;
    background-position: 50% 0;
    -webkit-background-size: auto;
    background-size: auto;
    width: 49px;
    border-bottom: none;
    text-align: center;
    position: relative;
    z-index: 2;
    /*left: 2em;*/
    /*left: 9%;*/
  }
  /*.nav.two li{ left: 8%; margin: 0 5%; }*/
  /*.nav.two li.vd{ left: 8%; }*/
    .nav li.an{
    -webkit-background-size: auto;
    background-size: auto;
    width: 101px;
    position: relative;
  }
  .nav li.an,
  .nav li.vi{
    position: relative;
    /*left: 3em;*/
    /*left: 9%;*/
  }
  .nav li.line{
    display: inline-block;
    background-image: none;
    background-color: #6D6E71;
    width: 100%;
    height: 1px;
    position: absolute;
    /*top: 30%;*/
    top: 28px;
    left: 1px;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .nav li.line:after,
  .nav li.line:before{
    content: "";
    background: url(../img/left-arrow.png) no-repeat;
    width: 4px;
    height: 8px;
    position: absolute;
    top: -4px;
    left: 0;
  }
  .nav li.line:after{
    background: url(../img/right-arrow.png) no-repeat;
    left: auto;
    right: 0;
  }
  .main{
    position: relative;
    top: 120px;
  }
  .feature{
    display: block;
    background-color: #E6E7E8;
    border: 1px solid #6D6E71;
    padding: 20px 3% 5px;
    width: 72%;
    margin: 0 4.5% 40px;
  }
  .feature p,
  .feature h1{
    font-size: 16px;
    text-align: left;
  }
  .copyright{
    display: inline-block;
    font-size: 8px;
    float: left;
    position: relative;
    top: 6px;
  }
  .site-footer{
    padding: 1% 5% 0;
 }
 .footer-nav{
    /*position: relative;*/
    /*float: right;*/
    margin: 0;
    text-align: right;
 }
 .footer-nav li{
    display: inline-block;
    padding: 0 2%;
    border-right: 1px solid #fff;
    font-size: 14px;
 }
 .footer-nav li:last-child{
    border-right: none;
    padding-right: 0;
 }
 .second{
  position: absolute;
  right: 5%;
  width: 47%;
  padding: 1em 0;
 }
 .searchnav .second .social,
 .searchnav .second #searchbox,
 .searchnav .second,
 .searchnav .title{
    display: inline-block;
    vertical-align: top;
 }
 .searchnav .title{
    margin: 0;
    padding: 1em 0 1em 70px;
    width: 30%;
 }
  .searchnav .title.vocia{
    background: url(../img/icon_vocia_h.png) 0 50% no-repeat;
  }
  .secondary #search{
    width: auto;
    padding: 1.25em 50px 1.25em 15px;
  }
  .secondary #searchbox{
    height: auto;
    /*float: right;*/
    position: relative;
    top: 12px;
  }
  .secondary .searchnav{
    padding: 1em 5% 1em 10%;
  }
  .secondary .searchnav .social{
    width: auto;
    float: right;
    padding-top: 1.25em;
  }
}