 /*Reset some basic elements */

html{ box-sizing: border-box; }
*,*:before,*:after{ box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, li, ul, figure {
  margin: 0;
  padding: 0; }

ul{
    list-style: none !important;
    padding-left: 0 !important;
}
h1,h2{margin: 0 !important;}

/* end reset */

.search-nav{
    background: url(@api/deki/files/2748/hex-bk_35o.png) center 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /* padding: 20px 10%; */
    padding: 0px 10%;
    width: 100%;
    text-align: center;
}
.search-nav .biamp-title{
    color: #D9272E;
    background-repeat: no-repeat;
    background-position: 0 50% !important;
    padding: 0.5em 0 0.5em 70px;
    margin-left: 10%;
    text-transform: uppercase;
    margin: 0 auto 10px;
    display: inline-block !important;
    font-size: 32px;
    line-height: 52px;
    line-height: 26px;
}

.mt-content-container{
    width: 100% !important;
    padding: 0 !important;
}

.elm-content-container{
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
}
#searchbox{
    position: relative;
}
.home-search-field:hover{
    border: none;
}
.home-search-field,
#search{
    padding: 1.25em 15% 1.25em 5%;
    position: relative;
    top: 25%;
    font: italic 15px "Helvetica Neue Medium Italic", Arial, sans-serif;
    background: #fff;
    width: 100%;
    border: none;
    border-radius: 0;
    border: solid 1px white;
}
.home-search-button{
    background: transparent url(@api/deki/files/652/search-icon.png) no-repeat !important;
    width: 44px !important;
    height: 42px;
    border: none !important;
    position: absolute;
    z-index: 10;
    right: 8px; top: 8px;
}
.search-nav .social{
    margin: 0 auto;
    width: auto;
    padding: 1.25em 0;
}

.search-nav .social li{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px !important;
}
.search-nav .social li a{
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 1px;
    display: block;
}
.search-nav .social li a.twitter{ background-image: url(@api/deki/files/2754/icon_social_twitter.png) !important; }
.search-nav .social li a.linkedin{ background-image: url(@api/deki/files/2750/icon_social_linkedin.png) !important; }
.search-nav .social li a.facebook{ background-image: url(@api/deki/files/2747/icon_social_facebook.png) !important; }
.search-nav .social li a.googleplus{ background-image: url(@api/deki/files/2749/icon_social_googleplus.png) !important; }
#nav ul li{
    margin: 0;
    border-bottom: 2px solid white;
}
#nav a:hover h1{
    color: #a1a1a1;
}
#nav h1{
    background: #E6E7E8;
    color: #D9272E;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    padding: .5em .5em .5em 10%;
    text-transform: uppercase;
    display: block !important;
    position: relative;
}
#nav .selected h1{
    background: #BCBEC0;
}
#nav .selected h1:after{
    content: "";
    background: url(@api/deki/files/2745/art_pointer.png) no-repeat;
    width: 34px;
    height: 27px;
    position: absolute;
    bottom: -20px;
    left: 10%;
}
#landing-page-content{
    padding: 2em 40px;
}
.section-title,
.section-description{
    margin: 0 0 0.5em 10px;
}
.section-title{
    font-size: 18px;
    margin-bottom: 0.5em;
    line-height: 32px;
}
.section-description{
    font-size: 14px;
    font-style: italic;
    padding-bottom: 1.5em;
}
/* .no-touch input:hover{
    border: none;
} */
input{
    border: 1px solid white;
}
.no-touch input[type=button]:hover{
    box-shadow: none !important;
}
.ui-tabs{
    background: transparent !important;
    margin: 0 !important;
}
.ui-tabs .ui-tabs-panel{
    border-style: none;
    border-width: 0 !important;
}
.mt-content-container blockquote,
.elm-header-global-nav,
.elm-content-footer,
.elm-meta-data.elm-meta-article-navigation,
#pageText blockquote,
.elm-meta-top,
.copyright,
#title
{
    display: none;
}

.ui-tabs-scroll-container,
.mt-listing-detailed-subpages,
.mt-guide-add-button-container,
.ui-tabs-nav-arrows,
.mt-icon-article-topic {display:none !important;}
.mt-guide-tabs-container {border:0px !important;}
.mt-topic-hierarchy-listings {display:block !important;}
.mt-listing-detailed {
    /* padding:15px 10% 15px 14.25% !important; */
    padding:15px 10% 15px 12% !important;
}

#pageText p{
    margin-bottom: 2em;
}
#pageText p,
.mt-section{
    /* margin: 0 10% 2em; */
    margin: 2em 10%;
}
.mt-section h2{
    color: #cd202c;
    border-bottom: none;
    font-size: 1.25em;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 1em !important;
}
.mt-section ul{
    padding-left: 0.125%;
    margin:  0 !important;
}
#pageText ul li p{
    margin: 0;
}
#pageText ul li{
    margin-left: 10%;
    /* display: inline-block; */
    /* vertical-align: top; */
    /* float: none !important; */
}
#pageText ul li ul li,
.mt-section li{
    list-style-image: url(@api/deki/files/2758/list-dot.png);
    margin-left: 6% !important;
    margin-bottom: 0.75em;
    font-size: 14px;
}
.mt-section p{
    margin: 0 0 2em !important;
}
.ui-table,
body.cke_editable table,
table{
    position: relative;
    left: -40px;
}


@media (min-width: 830px) {
    #pageText{
        padding-bottom: 20px;
    }
    #nav h1{
        padding: .5em .5em .5em 10%;
    }
    #nav .selected h1:after{
        left: 10%;
    }
    .search-nav{
    padding: 50px 10%;
        padding: 1em 5% 1em 10%;
        text-align: left;
    }
    .search-nav .second #searchnav,
    .search-nav .second .social,
    .search-nav .second,
    .search-nav .biamp-title{
        display: inline-block;
        vertical-align: top;
    }
    .search-nav .biamp-title{
        margin: 0;
        padding: 0.85em 0 0.75em 60px;
        width: 40%;
    }
    .second{
        position: absolute;
        right: 5%;
        width: auto;
        padding: 1em 0;
    }
    #searchbox{
        height: auto;
        float: left;
        position: relative;
        top: 12px;
        top: 10px;
        margin-right: 30px;
    }
    .home-search-field,
    #search{
        top: 33%;
        width: auto;
        padding: 1.25em 50px 1.25em 15px;
    }
    .search-nav .social{
        width: auto;
        float: right;
        padding-top: 1.25em;
        padding-top: 15px;
    }
    .main{
        position: relative;
        top: 0;
        padding-bottom: 36px;
    }
    #landing-page-content{
        padding: 2em 10% 0 155px;
    }
    .section-title,
    .section-description{
        margin: 0 0 0.5em 0;
        padding-left: 15px;
    }
    .copyright{
        display: block;
    }
    /* .mt-listing-detailed {padding:15px 10% 15px 11% !important;} */
    .mt-listing-detailed {padding:15px 10% 15px 28% !important;}
    .mt-section,
    .mt-topic-hierarchy-listings li{
        /* width: 40%; */
        display: inline-block;
        vertical-align: top;
    }
    .mt-section li{
        margin-left: 2% !important;
    }
    .ui-table,
    body.cke_editable table,
    table{
        position: relative;
        left: 0;
    }
}
@media (min-width: 18.75em){
  .elm-footer{
    bottom: 0 !important;
  }
  .mt-topic-hierarchy-listings li{
    padding: 0 !important;
  }
}