/*Reset some basic elements */

html{ box-sizing: border-box; }
*,*:before,*:after{ box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, li, ul, figure {
  margin: 0;
  padding: 0; }

ul{
	list-style: none !important;
	padding-left: 0 !important;
}
h1{margin: 0 !important;}

/* end reset */

.search-nav{
	background: url(@api/deki/files/2748/hex-bk_35o.png) center 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 20px 10%;
	width: 100%;
	text-align: center;
}
.search-nav .title{
	color: #D9272E;
	background-repeat: no-repeat;
	padding: 0.125em 0 0.5em 70px;
	margin-left: 10%;
	text-transform: uppercase;
	margin: 0 auto;
	margin: 0 auto 10px;
	width: 180px;
	display: inline-block !important;
	font-size: 32px;
	line-height: 48px;
}
.search-nav .title.vocia{
	background: url(@api/deki/files/2752/icon_vocia_h.png) no-repeat;
}
.mt-content-container{
	width: 100% !important;
	padding: 0 !important;
}
.elm-content-container{
	min-width: 100% !important;
	max-width: 100% !important;
	padding: 0 !important;
}
#searchbox{
	position: relative;
}
.home-search-field:hover{
	border: none;
}
.home-search-field,
#search{
	padding: 1.25em 15% 1.25em 5%;
	position: relative;
	top: 25%;
	font: italic 15px "Helvetica Neue Medium Italic", Arial, sans-serif;
	background: #fff;
	width: 100%;
	border: none;
	border-radius: 0;
}
.home-search-button{
	background: transparent url(@api/deki/files/652/search-icon.png) no-repeat !important;
	width: 44px !important;
	height: 42px;
	border: none !important;
	position: absolute;
	z-index: 10;
	right: 8px; top: 8px;
}
.search-nav .social{
	margin: 0 auto;
	width: auto;
	padding-top: 1.25em;
}
.search-nav .social li{
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 37px;
	background-repeat: no-repeat;
	color: transparent;
	margin-left: 5px;
}
.search-nav .social li.twitter{ background-image: url(@api/deki/files/2754/icon_social_twitter.png); }
.search-nav .social li.linkedin{ background-image: url(@api/deki/files/2750/icon_social_linkedin.png); }
.search-nav .social li.facebook{ background-image: url(@api/deki/files/2747/icon_social_facebook.png); }
.search-nav .social li.googleplus{ background-image: url(@api/deki/files/2749/icon_social_googleplus.png); }

#nav ul li{
	margin: 0;
	border-bottom: 2px solid white;
}
#nav h1{
	background: #E6E7E8;
	color: #D9272E;
	cursor: pointer;
	font-size: 19px;
	font-weight: bold;
	padding: .5em .5em .5em 2em;
	text-transform: uppercase;
	display: block !important;
	position: relative;
}
#nav .selected h1{
	background: #BCBEC0;
}
#nav .selected h1:after{
	content: "";
	background: url(@api/deki/files/2745/art_pointer.png) no-repeat;
	width: 34px;
	height: 27px;
	position: absolute;
	bottom: -21px;
	left: 2em;
}
#landing-page-content{
	padding: 2em 40px;
}
.section-title,
.section-description{
	margin: 0 0 0.5em 10px;
}
.section-title{
	font-size: 18px;
	margin-bottom: 0.5em;
	line-height: 32px;
}
.section-description{
	font-size: 14px;
	font-style: italic;
	padding-bottom: 1.5em;
}
.no-touch input:hover{
	border: none;
}
.mt-content-container blockquote,
.elm-header-global-nav,
.elm-content-footer,
.elm-meta-data.elm-meta-article-navigation,
#pageText blockquote,
#mt-summary,
.elm-meta-top,
.elm-header-user-nav,
.copyright{
	display: none;
}


@media (min-width: 830px) {
	#nav h1{
		padding: .5em .5em .5em 155px;
	}
	#nav .selected h1:after{
		left: 155px;
	}
	.search-nav{
	padding: 50px 10%;
		padding: 1em 5% 1em 10%;
		text-align: left;
	}
	.search-nav .second #searchnav,
	.search-nav .second .social,
	.search-nav .second,
	.search-nav .title{
		display: inline-block;
		vertical-align: top;
	}
	.search-nav .title{
		margin: 0;
		padding: 0.275em 0 0.75em 50px;
		padding: 0.85em 0 0.75em 60px;
	}
	.search-nav .title.vocia{
		background: url(@api/deki/files/2752/icon_vocia_h.png) 0 50% no-repeat;
	}
	.second{
		position: absolute;
		right: 5%;
		width: auto;
		padding: 1em 0;
	}
	#searchbox{
		height: auto;
		float: left;
		position: relative;
		top: 12px;
		top: 10px;
		margin-right: 30px;
	}
	.home-search-field,
	#search{
		top: 33%;
		width: auto;
		padding: 1.25em 50px 1.25em 15px;
	}
	.search-nav .social{
		width: auto;
		float: right;
		padding-top: 1.25em;
		padding-top: 15px;
	}
	.main{
		position: relative;
		top: 0;
		padding-bottom: 36px;
	}
	#landing-page-content{
		padding: 2em 10% 0 155px;
	}
	.section-title,
	.section-description{
		margin: 0 0 0.5em 0;
		padding-left: 15px;
	}
	.copyright{
		display: block;
	}

}
@media (min-width: 18.75em){
  .elm-footer{
    bottom: 0 !important;
  }
 }